<%= form_for @page do |f| %>

  <% if @page.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(@page.errors.count, "error") %>.</h4>
      <ul>
        <% @page.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form_group_tag(@page.errors[:title]) do %>
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control', placeholder: "Enter page title" %>
    <% end %>

    <%= form_group_tag(@page.errors[:body]) do %>
      <%= f.label :body %>
      <%= f.text_area :body, rows: 20, class: 'form-control', placeholder: "Enter page body" %>
    <% end %>

    <% if current_user.admin? || current_user.premium? %>

    <div class="container-border">

      <%= form_group_tag(@page.errors[:email]) do %>
          <%= f.label :email %>
          <%= f.email_field :collaborators, class: 'form-control', placeholder: "Enter email of user you wish to collaborate with on this page" %>
        <% end %>

          <%= f.label :private, class: 'checkbox' do %>
          <%= f.check_box :private %> Private wiki
        <% end %>
      <% end %>
    </div>
  </div>
<%= f.submit "Save", class: 'btn btn-success' %>

<% end %>
