<!DOCTYPE html>
<html>
<head>
  <title>Blocipedia</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div class="header clearfix">
    <% if user_signed_in? %>
      <ul class="nav nav-pills pull-right">
        <li><a href="#">Signed in as: <strong><%= current_user.email %></strong></a></li>
        <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
        <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete, :class => 'navbar-link' %></li>
      </ul>
    <% else %>
      <ul class="nav nav-pills pull-right">
        <li><%= link_to "Sign Up", new_user_registration_path, :class => 'navbar-link'  %></li>
        <li><%= link_to "Sign In", new_user_session_path, :class => 'navbar-link'  %></li>
      </ul>
    <% end %>
    <h3 class="text-muted">Blocipedia: Social, Markdown Wikis</h3>
  </div>
<%= yield %>
</body>
  <footer class="footer">
    <p>&copy; 2015 32nd Communications, LLC.</p>
  </footer>
</html>
